/* Font Family Specifier */

h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select,
textarea,
table,
body,
.nav-item,
.badge {
	font-family: "Noto Sans KR", sans-serif;
}

pre, code, tt {
	font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
}

/* Tweaks */

h1,
h2,
h3,
h4,
h5,
h6,
.nav-item > button,
#search-input {
	font-weight: 500;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
	font-weight: bold;
}