<div class="page-header">
    <h2>
        {% assign name = page.url | split: "/" | last %}
        {% if name == "404" %}
            {{ locale.not_found_title }}
        {% elsif page.category %}
            {{ page.category }}
        {% elsif page.ref != nil and page.ref != ""  %}
            {{ site.title }}
        {% endif %}</h2>
    <h3>{{ page.title }}</h3>
    
    {% if page.ref != nil and page.ref != "" %}
        <span>{{ locale.translate_text }}:&nbsp;&nbsp;</span>
        {% assign trans = site.docs | where: "ref", page.ref %}
        {% for item in trans %}
            {% if item.lang == lang %}
                {% continue %}
            {% endif %}

            <a id="{{ item.id }}">
                {% include flagicon.html icon_lang=item.lang %}
            </a>

            <script>
                (function () {
                    var elem = document.getElementById("{{ item.id }}");
                    elem.href = "{{ site.baseurl }}{{ item.url }}";
                    if (document.URL.indexOf('?') >= 0)
                        elem.href += document.URL.substring(document.URL.indexOf('?'));
                })();
            </script>
        {% endfor %}
    {% endif %}
</div>