.pagenate {
	width: 100%;
	table-layout: fixed;
	margin: 0;

	td {
		font-size: 1.4rem;
		padding: 0;
		border: none;

		&.prev-page {
			text-align: left;
		}

		&.next-page {
			text-align: right;
		}

		&.curr-page {
			font-weight: bold;
			text-align: center;
		}
	}
}