table {
	width: 100%;
	margin-bottom: 1.75em;
	word-break: keep-all;
}

td:nth-child(even),
th:nth-child(even) {
	background: #F7F7F7;
}

td, th {
	padding: 8px;
}

th {
	border-bottom: 1px solid #E0E0E0;
	text-align: center !important;
}

td {
	border-top: 1px solid #E0E0E0;
	text-align: left;
}
