table {
	width: 100%;
	margin-bottom: 1.75em;
}

td:nth-child(even),
th:nth-child(even) {
	background: #F4F4F4;
}

td, th {
	padding: 8px;
	text-align: left;
}

th {
	border-bottom: 1px solid #E0E0E0;
}

td {
	border-top: 1px solid #E0E0E0;
}
