table {
	width: 100%;
	margin-bottom: 1.75em;
	word-break: keep-all;
}

th + th,
td + td {
	border-left: 1px solid #E0E0E0;
}

td, th {
	padding: 8px;
}

th {
	border-bottom: 4px solid #EEE;
	text-align: center !important;
}

tr + tr {
	border-top: 1px solid #E0E0E0;
	text-align: left;
}
